body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

p{
    font-size: 120%;
    letter-spacing: 0.2px;
}

.required{
    color: red;
}

.search-count{
    color: cornflowerblue;
    font-weight: bold;
}

.list-icon{
    margin-left: 5px;
}

@font-face {
    font-family: brandFont;
    src: url(../fonts/Qraxy.ttf);
}

a.navbar-brand{
    font-family: brandFont;
    font-size: 230%;
    font-weight: bold;
}

nav.navbar.navbar-default{
    background-color: #ededd0;
}

.icon{
    color: cornflowerblue;
}