body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

@font-face {
    font-family: brandFont;
    src: url(../fonts/Qraxy.ttf);
}

a.navbar-brand{
    font-family: brandFont;
    font-size: 230%;
    font-weight: bold;
}

nav.navbar.navbar-default{
    background-color: #ededd0;
}

.icon{
    color: cornflowerblue;
}