body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

p{
    font-size: 120%;
    letter-spacing: 0.2px;
}

.wrapper-div{
    margin-top: 60px;
}

/* Navbar categories*/
.dropdown-menu li a:hover{
    background-color: #ededd0;
}

.dropdown-submenu{
    position: absolute;
    left: 100%;
    list-style-type: none;
    margin-top: -25px;
    padding-left: 0px;
    display: none;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.57);
    background-color: white;
}

.dropdown-submenu li a{
    color: black;
    display: block;
    text-decoration: none;
    width: 120px;
    padding: 4px;
}

.dropdown-submenu li a:hover{
    background-color: #ededd0;
}

.dropdown-menu-category:hover .dropdown-submenu{
    display: block;
}

.required{
    color: red;
}

.search-count{
    color: cornflowerblue;
    font-weight: bold;
}

.list-icon{
    margin-left: 5px;
}

@font-face {
    font-family: brandFont;
    src: url(../fonts/Qraxy.ttf);
}

a.navbar-brand{
    font-family: brandFont;
    font-size: 230%;
    font-weight: bold;
}

nav.navbar.navbar-default{
    background-color: #ededd0;
}

.icon{
    color: cornflowerblue;
}

.book-cover{
    width: 300px;
}

.book-name, .book-edit-button,.book-price{
    margin-left: 10px;
}

.book-name{
    font-weight: bold;
}

.book-delete-button{
    margin-right: 10px;
}

.book-price{
    color: cornflowerblue;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}